body {
  background: url("../img/maroon_background.jpg");
  background-size: cover;
}

h1 {
  color: white;
  width: 150px;
  font-size: 2.5rem;
  margin-left: 25px;
  margin-top: 50px;
}

#survey {
  display: none;
}

#header p {
  color: white;
  width: 150px;
  font-size: 1.4rem;
  margin-left: 25px;
  margin-top: 100px;
}

.copyright {
  color: white;
  width: 150px;
  font-size: 1.4rem;
  margin-left: 25px;
  margin-top: 100px;
}

.form-control {
  background-color: lightgrey;
}

button {
  margin-left: 25px;
}

#header {
  margin-left: 25;
}

#survey {
  margin-top: 200px;
}

#survey label {
  text-align: center;
  color: white;
}

#survey button {
  margin-left: 35%;
}

.modal-body p {
  color: black;
  text-align: center;
  font-size: 3rem;
}

.modal-header {
  background-color: maroon;
  color: white;
  font-size: 3rem;
}

.modal-body {
  background-color: lightgrey;
}

#android_track #java {
    float:right;
    width: 50%;
}

#android_track #android {
    float: left;
    width: 50%;
}
